@font-face {
    font-family: 'Greatlove';
    src: url('Greatlove.eot');
    src: local('Greatlove'),
        url('Greatlove.eot?#iefix') format('embedded-opentype'),
        url('Greatlove.woff2') format('woff2'),
        url('Greatlove.woff') format('woff'),
        url('Greatlove.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

